<form method="post" action="addNewHour">
    <input type="number" required name="hours" step="0.01" placeholder="Enter amount of hours worked"/>
    <input type="number" name="breakTime" step="0.01" placeholder="Enter the amount of time if break (.30 min)"/>
    <button type="submit">Add Hour</button>

</form>