<form method="POST" action="/dropAllData">
    <h1><strong>Warning!</strong> you will Delete all Data</h1>
    <input type="password" name="password" placeholder="Enter password to delete all Data">
    <input type="submit" value="Delete all Data">
</form>


<style>
    strong{
        color: red;
    }
</style>

