

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>



    <% if(session.user_id){%>
        <h1>welcome user <%=session.user_id%></h1>
        <a href="/logout">LogOut</a>

    <%}%>

    <a href="/addHour">add new Work hour</a>


<%if(model.length == 0 ){%>
    <div class="container">
        <h1 class="noDataHeader">No Data to Show please insert Data</h1>

    </div>


<%}else{%>




    <table class="table">
        <thead>
          <tr>
            <th scope="col">Hours</th>
            <th scope="col">Break Time</th>
            <th scope="col">Earned (bruto)</th>
          </tr>
        </thead>
        <tbody>
         
            <%for(var i =0 ; i < model.length; i++){%>
          <tr>

            <th scope="row"><%=model[i].totalHour%></th>
            <td><%=model[i].totalBreakTime%></td>
            <td>$<%=model[i].totalEarned%></td>
          </tr>
          <%}%>
        </tbody>
      </table>

      <a href="/dropTable">Delete all Data</a>

      <%}%>











 
  
    
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   
  </body>
</html>

<style>
    .container .noDataHeader{
        text-align: center;
        width: 100%;
        letter-spacing: 1px;
        
    }
    .container{
        display: flex;
        align-items: center;
        align-self: center;
        align-content: center;
    }
</style>